.vs
FirstAppEf/obj/Debug
FirstAppEf/obj
FirstAppEf/bin
FirstAppEf/Properties/PublishProfiles
WcfService1/bin
WcfService1/obj
ConsoleApp1/bin
ConsoleApp1/obj/Debug
ConsoleApp1/obj
/TestProject1/bin/Debug/net7.0/TestProject1.dll
/TestProject1/bin/Debug/net7.0/TestProject1.pdb
/TestProject1/obj/Debug/net7.0/ref/TestProject1.dll
/TestProject1/obj/Debug/net7.0/refint/TestProject1.dll
/TestProject1/obj/Debug/net7.0/TestProject1.dll
/TestProject1/obj/Debug/net7.0/TestProject1.pdb
*.lutconfig
/ConsoleAppPruebas/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/ConsoleAppPruebas/obj/Debug/net6.0/ConsoleAppPruebas.AssemblyInfo.cs
/ConsoleAppPruebas/obj/Debug/net6.0/ConsoleAppPruebas.AssemblyInfoInputs.cache
/ConsoleAppPruebas/obj/Debug/net6.0/ConsoleAppPruebas.assets.cache
/ConsoleAppPruebas/obj/Debug/net6.0/ConsoleAppPruebas.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleAppPruebas/obj/Debug/net6.0/ConsoleAppPruebas.GlobalUsings.g.cs
/ConsoleAppPruebas/obj
/ConsoleAppPruebas/bin/Debug/net6.0
/TestProject1/bin/Debug/net7.0/FirstAppEf.dll
/TestProject1/bin/Debug/net7.0/FirstAppEf.pdb
/TestProject1/obj/Debug/net7.0/TestProject1.csproj.AssemblyReference.cache
/Ejercicios/bin/Debug/net6.0
/Ejercicios/obj
