@model AlquilerViewModel;

<div>
    <h1>Alquilar</h1>
    <label>@Model.Pelicula.Nombre</label>
    <label>@Model.Pelicula.Anio</label>
    <label>@Model.Pelicula.Genero</label>
</div>

<input class="form-control" list="datalistOptions" id="searchInput" placeholder="Type to search...">
<datalist id="suggestions">
</datalist>
<select id="suggestions2" class="form-select">

</select>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts{
    <script src="~/js/alquiler.js"> </script>
}
