@model AlquilerViewModel;

<div>
    <h3>Vas a alquilar @Model.Pelicula.Nombre</h3>
    <input type="hidden" id="idPelicula" value="@Model.Pelicula.Id" />
</div>

<input class="form-control mt-5" list="datalistOptions" id="searchInput" placeholder="Buscar persona...">



<table id="personsAlquiler" class="table caption-top" data-bind="if: !listaVacia()">
    <thead>
        <tr >
            <td>Results...</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody data-bind="foreach: listaDeElementos">
        <tr class="mi-fila">
            <td  data-bind="text: name"></td>
            <td  data-bind="text: lastName"></td>
            <td  data-bind="text: dni"></td>
            <td hidden data-bind="text: id"></td>
        </tr>
       
    </tbody>
</table>

<div class="card" data-bind="if: !selectedPerson()">
    <div class="card-body">
        <h5 data-bind="text: selectedPerson().name" class="card-title"></h5>
        <p data-bind="text: selectedPerson().lastName" class="card-text"></p>
    </div>
</div>

<div class="card" data-bind="if: selectedPerson().name">
    <div class="card-header">
        Alquiler
    </div>
    <div class="card-body">
        <h5 class="card-title" data-bind="text: 'Nombe: ' + selectedPerson().name + ' ' + selectedPerson().lastName"></h5>
        <h5 class="card-title" data-bind="text: 'Dni: ' + selectedPerson().dni"></h5>
        <h5 class="card-title">Pelicula: @Model.Pelicula.Nombre</h5>
        <p class="card-text">Fecha de alquiler: @DateTime.Now</p>
        <input type="hidden"  />
        <a class="btn btn-primary" data-bind="click: incrementClickCounter">Alquilar</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts{
    <script src="~/js/alquiler.js">
      
        </script>


}

<style>
    .mi-fila:hover {
        background-color: #ADD8E6;
    }
</style>