@model IEnumerable<PeliculaDto>
@{
}

<link rel="stylesheet" href="~/css/peliculasListado.css" asp-append-version="true" />

<div class="container mb-4 mt-2">
    <h3>Buscar pelicula</h3>
    <form action="/Pelicula/GetPeliculaByName" method="GET">
        <div class="input-group">
            <input id="buscarPeliculaInp-d" type="text" class="form-control" name="name" placeholder="Escribe tu búsqueda">
            <div class="input-group-append">
                <button id="buscarPeliculaBtn-d" class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row rows-cols-1 row-cols-md-3 g-3">
        
        @foreach (var pelicula in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="data:image/png;base64,@Convert.ToBase64String(pelicula.ImageBytes)" class="card-img-top cardsPeliculaImagen mx-auto mt-2" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@pelicula.Nombre</h5>
                        <p>Año de estreno: @pelicula.Anio</p>
                        <p class="card-text">Genero: @pelicula.Genero</p>
                        <a href="/Alquiler/Index/@pelicula.Id" class="btn btn-primary">Alquilar</a>
                    </div>
                </div>
            </div>
        }
      
       
            
          </div>
    
</div>

@section scripts{
    <script src="~/js/pelicula.js">

    </script>
        }